.titulo {

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1px;
  z-index: 1000;

  opacity: 0;
  transform: translateY(40px);

  animation: subir 7s ease forwards;

  color: rgba(255, 253, 253, 0.815);
  font-size: 30px;
  font-family: montserrat;
}

@keyframes subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

.txtqdr1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}



.obj {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* PERMITE QUE QUEBRE PARA BAIXO */
}

.quadro {
  flex: 1; /* ocupa espaço igualmente */
  min-width: 250px; /* quando ficar menor que isso, quebra */
  height: 200px;
  background: linear-gradient(rgba(182, 125, 247, 0.336), rgba(119, 0, 255, 0.027)) ;
  color: white;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 100px;
  
  box-shadow: 0px 0px 20px rgb(204, 0, 255) ;
}








.txtqdr2{
    color: rgba(0, 0, 0, 0.815);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 0;

    
    
   
}


.NOB{
    
    position: relative;
    left: 25px;
    top: 22px;
    background-color: rgba(145, 145, 145, 0.678);
    display: inline-block;
    border-radius: 8px;
    color: rgb(253, 253, 255);
    font-family: montserrat; 
}
.objetivo{
    font-size: 25px;
}



.devuxnm{
    opacity: 0;
    animation: fade 7s ease forwards;
    font-family: montserrat;
    position: fixed;
    top: 1px;
    right: 5px;
    color: rgb(255, 253, 253);

}


.title{
   
    top: 10px;
    left: 5%;
}


body{
   


    opacity: 0;
     
    transform: translateY(40px);

    animation: subir 7s ease forwards;

    min-height: 150vh;
    
    
    background: linear-gradient(to top,   rgb(79, 20, 190), rgb(37, 11, 68), rgb(42, 14, 66), rgb(28, 11, 59));
}


.botao {

  
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;

  background-color: #8604f8; /* roxo */
  color: white;
  border: none;
  
  
  box-shadow: 0px 0px 20px rgb(162, 0, 255) ;

  cursor: pointer;
  transition: 0.3s;
  min-width: 380px;
  
  padding: 20px;
  border-radius: 10px;
  
  
  width: min(90vw, 500px); /* 90% da tela ou no máximo 400px */
  padding: clamp(12px, 2vw, 24px);
  font-size: clamp(14px, 2.5vw, 22px);

  position: fixed;

  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}

.botao:hover {
  background-color: #5903fa; /* roxo escuro */
  transform: scale(1.05);
  transform: translate(-50%, -50%);
}


html{
    scroll-behavior: smooth;
}